@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #55038c;
  --color-primary-hover: #85DAFF;
  --color-text: #f7ebfe;
  --font-color: #85DAFF;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
