@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #55038c;
  --color-primary-hover: #3e0561;
  --color-text: #f7ebfe;
  /* --color-highlighter: #00FFAA; */
  --font-color: #85DAFF;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
